<div>
    <div class="person-img">
        <%= gravatar_image_tag(comment.email, size: 80) %>
    </div>
    <div class="comment-content">
        <div class="name">
            <%= comment.commenter %>
        </div> 
        <span class="date">
            <%= comment.created_at.strftime('%b %e, %Y') %>
        </span>
        <p>
            <%= comment.body %>
        </p>
        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
    </div>
</div>