<div id="blog">
  <div class="row">
      <section class="blog col-md-12 bottom_30">
          <div class="col-md-12 content-header">
              <div class="section-title top_30 bottom_15"><span></span><h2>Blog Posts</h2></div>
          </div>
          <div id="grid-blog" class="row">
            <% @articles.each do |article| %>
              <div class="cbp-item">
                  <%= link_to article_path(article), class: "blog-box" do %>
                      <div class="blog-img">
                          <img src="images/blogs/blog-6.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">General</span> 
                          <h2 class="title">
                            <%= article.title %>
                          </h2>
                          <p class="little-text">
                            <%= article.text %>
                          </p>
                          <span class="date">
                            <%= article.created_at.strftime('%e %b %y') %>
                          </span>
                      </div>
                  <% end %>
              </div>
            <% end %>
      </section>
  </div>
</div>