<% content_for :title, "John M. Rake" %>

<div id="home">
    <!-- Text Section -->
    <div class="row">
        <section class="about-me line col-md-12 padding_30 padbot_45">
        <div class="section-title"><span></span><h2>About Me</h2></div>
        <p class="top_30">Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell. Nor themselves age introduced frequently use unsatiable devonshire get. They why quit gay cold rose deal park. One same they four did ask busy. Reserved opinions fat him nay position. Breakfast as zealously incommode do agreeable furniture. One too nay led fanny allow plate.
            <br>
            <br> Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat. Her bachelor honoured perceive securing but desirous ham required. Questions deficient acuteness to engrossed as. Entirely led ten humoured greatest and yourself. Besides ye country on observe. She continue appetite endeavor she judgment interest the met. For she surrounded motionless fat resolution may. </p>
    </section>
    </div>
    <!-- My Services Section -->
    <div class="row">
        <section class="services line graybg col-md-12 padding_50 padbot_50">
        <div class="section-title bottom_45"><span></span><h2>My Services</h2></div>
        <div class="row">
            <!-- a service -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-html"></i>
                    </div>
                    <span class="title">Web Development</span>
                    <p class="little-text">I have been working on web design for 10 years.</p>
                </div>
            </div>
            <!-- a service -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-attach"></i>
                    </div>
                    <span class="title">Branding Identity</span>
                    <p class="little-text">We will make you a brand that is catchy and leaves a trace.</p>
                </div>
            </div>
            <!-- a service -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-vector"></i>
                    </div>
                    <span class="title">Illustrator</span>
                    <p class="little-text">I have been working on illustration design for 6 years.</p>
                </div>
            </div>
            <!-- a service -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-schedule"></i>
                    </div>
                    <span class="title">Fast Delivery</span>
                    <p class="little-text">I deliver your business as fast as possible.</p>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- Skills Section -->
    <div class="row">
        <section class="design-skills col-md-6 padding_60 padbot_50">
            <div class="section-title bottom_45"><span></span><h2>Design Skills</h2></div>
            <ul class="skill-list">
                <li> 
                    <h3>Photoshop</h3>
                    <div class="progress">
                        <div class="percentage" style="width:80%;"></div>
                    </div>
                </li>
                <li> 
                    <h3>Sketch</h3>
                    <div class="progress">
                        <div class="percentage" style="width:60%;"></div>
                    </div>
                </li>
                <li> 
                    <h3>Adobe Xd</h3>
                    <div class="progress">
                        <div class="percentage" style="width:30%;"></div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="code-skills col-md-6 padding_60">
            <div class="section-title bottom_45"><span></span><h2>Code Skills</h2></div>
            <ul class="skill-list">
                <li> 
                    <h3>Javascript</h3>
                    <div class="progress">
                        <div class="percentage" style="width:80%;"></div>
                    </div>
                </li>
                <li> 
                    <h3>HTML5</h3>
                    <div class="progress">
                        <div class="percentage" style="width:60%;"></div>
                    </div>
                </li>
                <li> 
                    <h3>CSS3</h3>
                    <div class="progress">
                        <div class="percentage" style="width:30%;"></div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>