<div id="resume">
    <!-- Resume Section -->
    <div class="row">
        <section class="education">
        <div class="section-title top_30"><span></span><h2>Resume</h2></div>
            <div class="row">
                <!-- Working History -->
                <div class="working-history col-md-6 padding_15 padbot_30">
                    <ul class="timeline col-md-12 top_30">
                        <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                        <!-- a work -->
                        <li><h3 class="line-title">Art Director - Facebook Inc</h3>
                            <span>2010 - Present</span>
                            <p class="little-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Senior Designer - Google</h3>
                            <span>2008 - 2010</span>
                            <p class="little-text">So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Junior Designer - Creative Shake</h3>
                            <span>2005 - 2008</span>
                            <p class="little-text">Excited him now natural saw passage offices you minuter. At by asked being court hopes. Farther so friends am to detract.</p>
                        </li>
                    </ul> 
                </div>  
                <!-- Education History -->
                <div class="education-history col-md-6 padding_15 padbot_30">
                    <ul class="timeline col-md-12 top_30">
                        <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                        <!-- a work -->
                        <li><h3 class="line-title">Abc University of Los Angeles</h3>
                            <span>2004 - 2009</span>
                            <p class="little-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Drawing Course</h3>
                            <span>2003 - 2004</span>
                            <p class="little-text">So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Abc High School</h3>
                            <span>2000 - 2003</span>
                            <p class="little-text">Excited him now natural saw passage offices you minuter. At by asked being court hopes. Farther so friends am to detract.</p>
                        </li>
                    </ul> 
                </div>
            </div>
        </section>
    </div>
    <!-- Clients Section -->
    <div class="row">
        <section class="clients col-md-12 graybg padding_45 padbot_45">
            <div class="section-title bottom_30"><span></span><h2>Clients</h2></div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client">
                        <img src="images/client-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client">
                        <img src="images/client-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client">
                        <img src="images/client-03.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client">
                        <img src="images/client-04.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Testimonials -->
    <div class="row">
        <section class="testimonials bottom_30">
            <div class="section-title top_60 bottom_30"><span></span><h2>Testimonials</h2></div>
            <div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-1.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Jack Garratt</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-2.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">April M. Griffin</span>
                                <span class="job">Founder</span>
                            </div>
                        </div>
                        <hr>
                        <p>Our logo and business card design look great. Thanks Henry</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-3.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Larry M. Johnson</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                    </div>
                </div> 
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-1.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Jack Garratt</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-2.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">April M. Griffin</span>
                                <span class="job">Founder</span>
                            </div>
                        </div>
                        <hr>
                        <p>Our logo and business card design look great. Thanks Henry</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-3.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Larry M. Johnson</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-1.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Jack Garratt</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-2.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">April M. Griffin</span>
                                <span class="job">Founder</span>
                            </div>
                        </div>
                        <hr>
                        <p>Our logo and business card design look great. Thanks Henry</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-3.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Larry M. Johnson</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>