<div id="resume">
    <!-- Resume Section -->
    <div class="row">
        <section class="education">
        <div class="section-title top_30"><span></span><h2>Resume</h2></div>
            <div class="row">
                <!-- Working History -->
                <div class="working-history col-md-6 padding_15 padbot_30">
                    <ul class="timeline col-md-12 top_30">
                        <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                        <li><h3 class="line-title">Founder - GorillaBot Labs</h3>
                            <span>2017 - Present</span>
                            <p class="little-text">
                                At GorillaBot Labs I partner with startups and entrepreneurs to launch engaging digital products their customer's love.
                                Our rapid, iterative development process unlock powerful customer insights and maximizes your venture's success.
                            </p>
                        </li>
                        <li><h3 class="line-title">Software Engineer - C2FO</h3>
                            <span>2015 - 2017</span>
                            <p class="little-text">
                                C2FO is the world’s market for working capital and risk-free profit. Companies across the globe use C2FO to increase 
                                their operating income while simultaneously producing vital working capital flows to their supply chain.
                            </p>
                        </li>
                        <li><h3 class="line-title">Web Developer - VML</h3>
                            <span>2014 - 2015</span>
                            <p class="little-text">
                                VML, one of the world's leading digital marketing agencies, delivers creative solutions at the intersection of 
                                marketing and technology.
                            </p>
                        </li>
                    </ul> 
                </div>  
                <!-- Education History -->
                <div class="education-history col-md-6 padding_15 padbot_30">
                    <ul class="timeline col-md-12 top_30">
                        <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                        <li><h3 class="line-title">BetaBlox Accelerator</h3>
                            <span>2017 - Present</span>
                            <p class="little-text">
                                BetaBlox transforms entrepreneurs with ideas, small businesses, and startups into growth stage ventures; faster, cheaper, & with substantially higher valuations.
                            </p>
                        </li>
                        <li><h3 class="line-title">University of Kansas</h3>
                            <span>2007 - 2011</span>
                            <p class="little-text">
                                Located in the heart of Lawrence, the University of Kansas empowers innovative research, transformative experiences, and a constant pursuit of knowledge.
                            </p>
                        </li>
                    </ul> 
                </div>
            </div>
        </section>
    </div>
    <!-- Clients Section -->
    <div class="row">
        <section class="clients col-md-12 graybg padding_45 padbot_45">
            <div class="section-title bottom_30"><span></span><h2>Clients</h2></div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client">
                        <img src="images/clients/c2fo-logo.png" alt="C2FO Logo">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client">
                        <img src="images/clients/mindsport-logo.png" alt="Mindsport Logo">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Testimonials -->
    <div class="row">
        <section class="testimonials bottom_30">
            <div class="section-title top_60 bottom_30"><span></span><h2>Testimonials</h2></div>
            <div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-1.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Jack Garratt</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-2.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">April M. Griffin</span>
                                <span class="job">Founder</span>
                            </div>
                        </div>
                        <hr>
                        <p>Our logo and business card design look great. Thanks Henry</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-3.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Larry M. Johnson</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                    </div>
                </div> 
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-1.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Jack Garratt</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-2.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">April M. Griffin</span>
                                <span class="job">Founder</span>
                            </div>
                        </div>
                        <hr>
                        <p>Our logo and business card design look great. Thanks Henry</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-3.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Larry M. Johnson</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-1.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Jack Garratt</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-2.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">April M. Griffin</span>
                                <span class="job">Founder</span>
                            </div>
                        </div>
                        <hr>
                        <p>Our logo and business card design look great. Thanks Henry</p>
                    </div>
                </div>
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="images/testimonial-3.jpg" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">Larry M. Johnson</span>
                                <span class="job">Freelancer</span>
                            </div>
                        </div>
                        <hr>
                        <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>