<div class="cbp-item <%= get_portfolio_item_tag_css(portfolio_item) %>">
    <a href="portfolio-detail/work-01.html" class="cbp-singlePage">
        <figure>
            <div class="icon">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </div>
            <img src="images/works/work-01.jpg" alt="" >
            <figcaption>
                <span class="title"><%= portfolio_item.title %></span><br/>
                <span class="info"><%= portfolio_item.description %></span>
            </figcaption>
        </figure>
    </a>
</div>