<div id="portfolio" class="row bottom_45">
    <section class="col-md-12">
        <div class="col-md-12 content-header bottom_15">
            <div class="section-title top_30 bottom_30"><span></span><h2>Portfolio</h2></div>
            <div id="filters-container">
                <!-- '*' means shows all item elements -->
                <div data-filter="*" class="cbp-filter-item cbp-filter-item-active">All</div>
                <div data-filter=".web-design" class="cbp-filter-item">Web Design</div>
                <div data-filter=".web-development" class="cbp-filter-item">Web Development</div>
                <div data-filter=".mobile-app" class="cbp-filter-item">Mobile App</div>
            </div>
        </div>
        <div id="grid-container" class="top_60">
            <% @portfolio_items.each do |portfolio_item| %>
                <%= render 'portfolio/portfolio_item', portfolio_item: portfolio_item %>
            <% end %>
        </div>
    </section>
</div>