<div id="portfolio" class="row bottom_45">
    <section class="col-md-12">
        <div class="col-md-12 content-header bottom_15">
            <div class="section-title top_30 bottom_30"><span></span><h2>Portfolio</h2></div>
            <div id="filters-container">
                <!-- '*' means shows all item elements -->
                <div data-filter="*" class="cbp-filter-item cbp-filter-item-active">All</div>
                <div data-filter=".webdesign" class="cbp-filter-item">Web Design</div>
                <div data-filter=".motion" class="cbp-filter-item">Motion Graphic</div>
                <div data-filter=".illustration" class="cbp-filter-item">Illustration</div>
                <div data-filter=".photography" class="cbp-filter-item">Photography</div>
            </div>
        </div>
        <div id="grid-container" class="top_60">
            <!-- a work -->
            <div class="cbp-item webdesign">
                <a href="portfolio-detail/work-01.html" class=" cbp-singlePage">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-01.jpg" alt="" >
                        <figcaption>
                            <span class="title">Babel Admin</span><br/>
                            <span class="info">An admin template design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a video work -->
            <div class="cbp-item cbp-lightbox motion">
                <a href="http://www.youtube.com/watch?v=bpOSxM0rNPM&rel=0&autoplay=1" class="cbp-lightbox">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-02.jpg" alt="" >
                        <figcaption>
                            <span class="title">George Motion</span><br/>
                            <span class="info">An motion graphic design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a image work -->
            <div class="cbp-item cbp-lightbox photography">
                <a href="images/works/work-06.jpg" class="cbp-lightbox">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-06.jpg" alt="">                       
                        <figcaption>
                            <span class="title">Amazon Travel</span><br/>
                            <span class="info">Nature photography work.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a work -->
            <div class="cbp-item webdesign">
                <a href="portfolio-detail/work-02.html" class="cbp-singlePage">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-03.jpg" alt="">
                        <figcaption>
                            <span class="title">My Workspace</span><br/>
                            <span class="info">My current workspace design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a video work -->
            <div class="cbp-item motion">
                <a href="https://vimeo.com/199074744" class="cbp-lightbox">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-04.jpg" alt="">
                        <figcaption>
                            <span class="title">Recoba Template</span><br/>
                            <span class="info">Html template design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a work -->
            <div class="cbp-item webdesign">
                <a href="portfolio-detail/work-01.html" class="cbp-singlePage">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-05.jpg" alt="">
                        <figcaption>
                            <span class="title">Doddy App</span><br/>
                            <span class="info">Mobile app ui kit design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a work -->
            <div class="cbp-item illustration">
                <a href="portfolio-detail/work-01.html" class="cbp-singlePage">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-07.jpg" alt="">
                        <figcaption>
                            <span class="title">Bob Stayler </span><br/>
                            <span class="info">Illustration characher design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a work -->
            <div class="cbp-item illustration">
                <a href="portfolio-detail/work-01.html" class="cbp-singlePage">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-08.jpg" alt="">
                        <figcaption>
                            <span class="title">Exemag Wordpress Theme</span><br/>
                            <span class="info">Multiconcept Blog Theme.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <!-- a work -->
            <div class="cbp-item illustration">
                <a href="portfolio-detail/work-01.html" class="cbp-singlePage">
                    <figure>
                        <div class="icon">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </div>
                        <img src="images/works/work-09.jpg" alt="">
                        <figcaption>
                            <span class="title">Babel Admin Html Code</span><br/>
                            <span class="info">An admin template design.</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <!-- load more button -->
        <div id="js-loadMore-agency" class="cbp-l-loadMore-button top_30">
            <a href="load-more/portfolio.html" class="cbp-l-loadMore-link site-btn" rel="nofollow">
                <span class="cbp-l-loadMore-defaultText">Load More (<span class="cbp-l-loadMore-loadItems">3</span>)</span>
                <span class="cbp-l-loadMore-loadingText">Loading...</span>
                <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
            </a>
        </div>
    </section>
</div>