<footer>
    <div class="footer col-md-12 top_30 bottom_30">
        <div class="name col-md-4 hidden-md hidden-sm hidden-xs">John Rake.</div>
        <div class="copyright col-lg-8 col-md-12">© <%= "#{Date.today.year}" %> All rights reserved. Designed by <a href="https://themeforest.net/user/tavonline">tavonline</a> </div>  
    </div>
</footer>