<div class="profile">
    <div class="profile-name">
        <span class="name">John Rake</span><br>
        <span class="job">Web Developer</span>
    </div>

    <figure class="profile-image">
        <img src="/images/profile.png" alt="">
    </figure> 
    <ul class="profile-information">
        <li></li>
        <li><p><span>Name:</span> John Rake</p></li>
        <li><p><span>Job:</span> Freelancer</p></li>
        <li><p><span>Email:</span> john.rake12@gmail.com</p></li>
    </ul>
    <div class="profile-hire-me">
        <%= render 'layouts/hire_me_button' %>
    </div>
</div>